{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "ecmaFeatures": {
      "globalReturn": false
    },
    "babelOptions": {
      "configFile": ".babelrc"
    }
  },
  "env": {
    "browser": true
  },
  "extends": ["airbnb-base", "plugin:jest/recommended", "prettier"],
  "plugins": ["jest"],
  "rules": {
    "no-use-before-define": "off"
  }
}
