{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "ecmaFeatures": {
      "globalReturn": false
    },
    "babelOptions": {
      "configFile": ".babelrc"
    }
  },
  "extends": ["airbnb-base", "plugin:jest/recommended", "prettier"],
  "plugins": ["jest"]
}
